/CAPITULO12/test/nbproject/private/
/CAPITULO12/test/build/
/CAPITULO12/test/dist/
/CAPITULO12/WebApplication1/nbproject/private/
/CAPITULO12/WebApplication1/build/
/netbeans/WebApplication1/nbproject/private/
/netbeans/WebApplication1/build/
/netbeans/mavenproject1/target/
/netbeans/programacion/target/
/netbeans/java/target/
/netbeans/EJ2/target/
/netbeans/EJ23/target/
